.layer-boards-container {
  background-color: #37415180;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.layer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-cell {
  background: #1f2937;
  border-radius: 4px;
}

.layer-cell:hover {
  background: #1f2937;
  border-radius: 4px;
  cursor: pointer;
}

.layer-cell.highlighted {
  background: #8b5cf680;
  transform: scale(0.95);
}
.layer-cell.A {
  background-color: #ff0000;
}
.layer-cell.B {
  background-color: #dd4080;
}
.layer-cell.C {
  background-color: #ee8fbf;
}
.layer-cell.D {
  background-color: #1046bb;
}
.layer-cell.E {
  background-color: #ffff00;
}
.layer-cell.F {
  background-color: #a934cc;
}
.layer-cell.G {
  background-color: #5c00a7;
}
.layer-cell.H {
  background-color: #2ca350;
}
.layer-cell.I {
  background-color: #b64816;
}
.layer-cell.J {
  background-color: #005a1e;
}
.layer-cell.K {
  background-color: #e78e3a;
}
.layer-cell.L {
  background-color: #0091d4;
}

.layer-section:not(:last-child) {
  margin-bottom: 0.5rem;
}

.layer-label {
  color: white;
  margin-bottom: 0.5rem;
}

.layer-grid {
  display: grid;
  padding: 2px;
  background-color: rgb(75, 85, 99);
  border-radius: 0.25rem;
}

.layer-cell {
  aspect-ratio: 1;
  background-color: rgb(31, 41, 55);
  border: 1px solid rgb(75, 85, 99);
}

.layer-cell.highlighted {
  background-color: rgba(59, 130, 246, 0.5);
}
